body {
    font-size: 24px;
}

button {
    margin: 5px;   
}

#loggedIn {
    display: none;
}

#changeLogin {
    display: none;
}

.poll {
    margin: 10px;
    border-style: dotted;
    border-width: 1px;
    border-color: black;
}