<!doctype html>
<html>
<head>
    <title>Polact</title>
    <script type="text/javascript" src="libs/reqwest.min.js"></script>
    <script type="text/javascript" src="libs/polact.js"></script>
    <script type="text/javascript" src="Controllers/poll.js"></script>
</head>
<body>
    <div class="ask">
        <input type="text" id="ask" /><button id="askSubmit">Ask</button>
    </div>
    <div class="poll">
        <div class="pollTitle"></div>
        <div class="question">
            Vous voulez faire quoi ?
        </div>
        <div class="responseList">
            <div class="response">
                <div>Continuer "Into the Odd"</div><div>+</div><div>-</div>
            </div>
            <div class="response">
                <div>Un autre jeu</div><div>+</div><div>-</div>
            </div>
        </div>
    </div>
</body>
</html>