<!doctype html>
<html>
<head>
    <title>Polact</title>
    <script type="text/javascript" src="libs/reqwest.min.js"></script>
    <script type="text/javascript" src="libs/polact.js"></script>
    <script type="text/javascript" src="Controllers/poll.js"></script>
</head>
<body>
    <div><input id="userId" type="text" value="0"/></div><button id="login">Login</button>
    <div class="ask">
        <input type="text" id="ask" /><button id="askSubmit">Ask</button>
    </div>
    <div id="polls">
    </div>
</body>
</html>