<!doctype html>
<html>
<head>
    <title>Polact</title>
    <script type="text/javascript" src="libs/reqwest.min.js"></script>
    <script type="text/javascript" src="libs/polact.js"></script>
    <script type="text/javascript" src="Controllers/poll.js"></script>
    <script type="text/javascript" src="Controllers/account.js"></script>
    <link rel="sylesheet" type="text/css" href="css/main.css" />
</head>
<body>
    <div id="loginregister">
        <div>Login:@<input id="login" type="text"/></div>
        <div>Password:<input id="password" type="password"/></div>
        <button id="loginButton">Login</button>
        <button id="registerButton">Register</button>
    </div>
    <div id="loggedIn">
    </div>
    <div class="ask">
        <input type="text" id="ask" /><button id="askSubmit">Ask</button>
    </div>
    <div id="polls">
    </div>
</body>
</html>